.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0; 
    height: 65px;
    width: 100%;
    background-color: #282828;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__left {
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
}

.footer__albumLogo{
    height: 60px;
    width: 60px; 
    margin-right: 20px;
    object-fit: contain;
}

.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer__right {
    display: flex;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex: 0.3;
}

