.sidebar {
    height: 100vh;
    flex: 0.1;
    flex-direction: column;
    color: white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #000000;
}

.sidebar__logo {
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar__title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}